// SECTION base :: START

section#base.base
  .c-grid
    .base__wrapper
      .base__wrapper-left

        ul.base__list
          li.base__list-item
            a.base__list-btn(href="#" class="" title="")
              i.icon-font.icon-mark
          li.base__list-item
            a.base__list-btn(href="#" class="" title="")
              i.icon-font.icon-facebook
          li.base__list-item
            a.base__list-btn(href="#" class="" title="")
              i.icon-font.icon-twitter


      .base__wrapper-middle

        .base__img
          img(src="/img/img-base.jpg" srcset="/img/img-base@2x.jpg 2x, /img/img-base@3x.jpg 3x" alt="" title="")

        .base__info
          p!= "Photo by Minnie Soto"

      .base__wrapper-right


// SECTION base :: END