// SECTION browse :: START

section#browse.browse
  .c-grid
    .browse__wrapper

      h3.browse__subtitle.c-subtitle!= "Browse our other sites"
      p.browse__title.c-title!= "Counselling Directory, part of the Happiful family"
      p.browse__desc!= "Happiful’s mission is to create a healthier, happier and more sustainable society and to challenge the stigma around mental health."

      .browse__box-wrapper
        div
          a.browse__box(href="#" class="" title="")
            img(src="/img/img-browse-1.png" srcset="/img/img-browse-1@2x.png 2x, /img/img-browse-1@3x.png 3x" alt="" title="")
        div
          a.browse__box(href="#" class="" title="")
            img(src="/img/img-browse-2.png" srcset="/img/img-browse-2@2x.png 2x, /img/img-browse-2@3x.png 3x" alt="" title="")
        div
          a.browse__box(href="#" class="" title="")
            img(src="/img/img-browse-3.png" srcset="/img/img-browse-3@2x.png 2x, /img/img-browse-3@3x.png 3x" alt="" title="")
        div
          a.browse__box(href="#" class="" title="")
            img(src="/img/img-browse-4.png" srcset="/img/img-browse-4@2x.png 2x, /img/img-browse-4@3x.png 3x" alt="" title="")

// SECTION browse :: END