// SECTION main :: START

section#main.main
  .c-grid
    .main__wrapper

      p.main__subtitle!= "Anxiety"
      h3.main__title!= "Trusting the process in therapy - expectations in the counselling room"

      .main__user
        .main__user-left
          .main__user-circle
            img(src="/img/img-main-user.png" srcset="/img/img-main-user@2x.png 2x, /img/img-main-user@3x.png 3x" alt="" title="")

        .main__user-right
          p!= "Written by Lizandra Leigertwood MA, MBACP"
          span!= "Posted on 12th February, 2019"

// SECTION main :: END