// COMMON :: START

// title
.c-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.42;
  text-align: center;
  color: $c-dark-slate-blue;
}
// title :: end

// subtitle
.c-subtitle {
  @extend %fontsPTSans;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: center;
  color: $c-ocean;
  text-transform: uppercase;
}
// subtitle :: end

// social
.social {
  &__list {
    display: flex;
    align-items: center;

    &-item {
      &:last-of-type {
        .social__list-btn {
          margin-right: 0;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      margin-right: 9px;
      border-radius: 100%;
      border: solid 1px $c-very-light-pink;
      background-color: transparent;
      @include transition(border-color);

      &:hover {
        border-color: #192e47;
        @include transition(border-color);
      }

      .icon-font {
        color: #192e47;

        &.icon-facebook {
          font-size: 16px;
        }
        &.icon-instagram {
          font-size: 16px;
        }
        &.icon-twitter {
          font-size: 16px;
        }
        &.icon-youtube {
          font-size: 13px;
        }
      }
    }
  }
}
// social :: end

// logotype
.logotype {
  &--footer {
    .logotype__bnt {
      display: flex;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
// logotype :: end

  // copyright
.copyright {
  &__text {
    color: $c-brownish-grey;
    font-size: 14px;
    line-height: 1.43;
    @extend %fontsPTSans;
  }
}

// copyright :: end

// COMMON :: END