@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700");
/* line 23, src/scss/_utilities/_extend.scss */
.main__user-circle img, .info__user-circle img, .article__box-top img, .article__box-user--circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-corner:before, .icon-email:before, .icon-facebook:before, .icon-instagram:before, .icon-link:before, .icon-mark:before, .icon-more:before, .icon-search:before, .icon-twitter:before, .icon-youtube:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-corner:before {
  content: "";
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-email:before {
  content: "";
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-instagram:before {
  content: "";
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-link:before {
  content: "";
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-mark:before {
  content: "";
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-more:before {
  content: "";
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-search:before {
  content: "";
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 65, src/scss/_generated/_spriteFont.scss */
.icon-youtube:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  position: fixed;
  width: 100%;
  overflow: hidden !important;
}

/* line 14, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 20, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 16px;
  font-weight: normal;
  font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1350px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1350px;
  }
}

@media screen and (min-width: 992px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1350px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1350px;
  }
}

@media screen and (min-width: 768px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1350px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1350px;
  }
}

/* line 4, src/scss/_shared/_common.scss */
.c-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.42;
  text-align: center;
  color: #132e49;
}

/* line 14, src/scss/_shared/_common.scss */
.c-subtitle {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: center;
  color: #008192;
  text-transform: uppercase;
}

/* line 27, src/scss/_shared/_common.scss */
.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 33, src/scss/_shared/_common.scss */
.social__list-item:last-of-type .social__list-btn {
  margin-right: 0;
}

/* line 39, src/scss/_shared/_common.scss */
.social__list-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 9px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: solid 1px #dbdfe4;
  background-color: transparent;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 51, src/scss/_shared/_common.scss */
.social__list-btn:hover {
  border-color: #192e47;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 56, src/scss/_shared/_common.scss */
.social__list-btn .icon-font {
  color: #192e47;
}

/* line 59, src/scss/_shared/_common.scss */
.social__list-btn .icon-font.icon-facebook {
  font-size: 16px;
}

/* line 62, src/scss/_shared/_common.scss */
.social__list-btn .icon-font.icon-instagram {
  font-size: 16px;
}

/* line 65, src/scss/_shared/_common.scss */
.social__list-btn .icon-font.icon-twitter {
  font-size: 16px;
}

/* line 68, src/scss/_shared/_common.scss */
.social__list-btn .icon-font.icon-youtube {
  font-size: 13px;
}

/* line 80, src/scss/_shared/_common.scss */
.logotype--header .logotype__bnt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 86, src/scss/_shared/_common.scss */
.logotype--footer .logotype__bnt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 91, src/scss/_shared/_common.scss */
.logotype img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 100, src/scss/_shared/_common.scss */
.copyright {
  padding-top: 6px;
}

/* line 103, src/scss/_shared/_common.scss */
.copyright__text {
  color: #767676;
  font-size: 14px;
  line-height: 1.43;
  font-family: 'PT Sans', sans-serif;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdfe4;
}

/* line 11, src/scss/_components/_header.scss */
.header .c-grid-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

/* line 16, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 87px;
}

/* line 21, src/scss/_components/_header.scss */
.header__wrapper-left {
  padding-top: 6px;
  padding-right: 19px;
}

/* line 26, src/scss/_components/_header.scss */
.header__wrapper-middle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  padding-top: 5px;
}

/* line 32, src/scss/_components/_header.scss */
.header__wrapper-right {
  width: 100%;
  max-width: 314px;
}

/* line 38, src/scss/_components/_header.scss */
.header__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 51, src/scss/_components/_header.scss */
.header__btn--mark:hover .icon-font, .header__btn--search:hover .icon-font {
  color: #008192;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 57, src/scss/_components/_header.scss */
.header__btn--mark .icon-font, .header__btn--search .icon-font {
  font-size: 24px;
  color: #192E47;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 64, src/scss/_components/_header.scss */
.header__btn--mark {
  margin-right: 10px;
}

/* line 70, src/scss/_components/_header.scss */
.header__btn--search {
  margin-left: 10px;
}

/* line 74, src/scss/_components/_header.scss */
.header__btn--login {
  margin-right: 4px;
  width: 83px;
  height: 40px;
  padding-top: 2px;
  -webkit-border-radius: 21.5px;
          border-radius: 21.5px;
  border: solid 1px #dbdfe4;
  background-color: #ffffff;
  color: #132e49;
}

/* line 84, src/scss/_components/_header.scss */
.header__btn--login:hover {
  border-color: #008192;
  background-color: #008192;
  color: #ffffff;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 92, src/scss/_components/_header.scss */
.header__btn--get {
  margin-left: 4px;
  width: 106px;
  height: 40px;
  padding-top: 2px;
  -webkit-border-radius: 21.5px;
          border-radius: 21.5px;
  border: 1px solid #008192;
  background-color: #008192;
  color: #ffffff;
}

/* line 102, src/scss/_components/_header.scss */
.header__btn--get:hover {
  border-color: #dbdfe4;
  background-color: transparent;
  color: #132e49;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 110, src/scss/_components/_header.scss */
.header__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 116, src/scss/_components/_header.scss */
.header__btn-left {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4px;
  padding-left: 1px;
  padding-right: 25px;
}

/* line 124, src/scss/_components/_header.scss */
.header__btn-left:before {
  content: '';
  z-index: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 43px;
  background-color: #f6f6f6;
}

/* line 137, src/scss/_components/_header.scss */
.header__btn-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  padding-left: 24px;
}

/* line 146, src/scss/_components/_header.scss */
.header__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 151, src/scss/_components/_header.scss */
.header__nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 156, src/scss/_components/_header.scss */
.header__nav-link {
  white-space: nowrap;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'PT Sans', sans-serif;
  color: #132e49;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 165, src/scss/_components/_header.scss */
.header__nav-link:before {
  content: '';
  opacity: 0;
  z-index: 0;
  position: absolute;
  bottom: -10px;
  left: -4px;
  width: -webkit-calc(100% + 8px);
  width: calc(100% + 8px);
  height: 2px;
  -webkit-border-radius: 2.5px;
          border-radius: 2.5px;
  background-color: #008192;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 179, src/scss/_components/_header.scss */
.header__nav-link:hover {
  color: #008192;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 184, src/scss/_components/_header.scss */
.header__nav-link.is-active {
  color: #008192;
}

/* line 187, src/scss/_components/_header.scss */
.header__nav-link.is-active:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 193, src/scss/_components/_header.scss */
.header__nav-link--drop {
  padding-top: 3px;
}

/* line 196, src/scss/_components/_header.scss */
.header__nav-link--drop .icon-corner {
  position: relative;
  top: -1px;
  font-size: 6px;
  margin-left: 8px;
}

/* line 205, src/scss/_components/_header.scss */
.header__nav-link--more .icon-font {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 17px;
}

/* line 4, src/scss/_components/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 128px;
  padding-top: 23px;
}

/* line 9, src/scss/_components/_footer.scss */
.footer__wrapper-left, .footer__wrapper-right {
  width: 50%;
  min-height: 100%;
}

/* line 15, src/scss/_components/_footer.scss */
.footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 3, src/scss/_components/home/_main.scss */
.main {
  padding-top: 60px;
  padding-bottom: 59px;
}

/* line 7, src/scss/_components/home/_main.scss */
.main__wrapper {
  width: 100%;
  max-width: 858px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
}

/* line 15, src/scss/_components/home/_main.scss */
.main__subtitle {
  padding-bottom: 8px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  line-height: 1.38;
  color: #008192;
  text-transform: uppercase;
}

/* line 24, src/scss/_components/home/_main.scss */
.main__title {
  padding-bottom: 23px;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.24;
  color: #132e49;
}

/* line 32, src/scss/_components/home/_main.scss */
.main__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 35, src/scss/_components/home/_main.scss */
.main__user-left {
  width: 55px;
}

/* line 39, src/scss/_components/home/_main.scss */
.main__user-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 43, src/scss/_components/home/_main.scss */
.main__user-circle {
  overflow: hidden;
  z-index: 1;
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

/* line 51, src/scss/_components/home/_main.scss */
.main__user-circle img {
  z-index: 0;
}

/* line 57, src/scss/_components/home/_main.scss */
.main__user p {
  position: relative;
  top: -3px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  line-height: 1.38;
  color: #132e49;
}

/* line 66, src/scss/_components/home/_main.scss */
.main__user span {
  position: relative;
  top: -4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #767676;
}

/* line 3, src/scss/_components/home/_base.scss */
.base {
  padding-bottom: 60px;
}

/* line 6, src/scss/_components/home/_base.scss */
.base__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 9, src/scss/_components/home/_base.scss */
.base__wrapper-left, .base__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 51px;
}

/* line 17, src/scss/_components/home/_base.scss */
.base__wrapper-middle {
  width: 100%;
  max-width: 1000px;
}

/* line 23, src/scss/_components/home/_base.scss */
.base__img {
  padding-bottom: 12px;
}

/* line 26, src/scss/_components/home/_base.scss */
.base__img img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 36, src/scss/_components/home/_base.scss */
.base__info p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #767676;
}

/* line 43, src/scss/_components/home/_base.scss */
.base__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -2px;
  left: 1px;
}

/* line 52, src/scss/_components/home/_base.scss */
.base__list-item:last-of-type .base__list-btn {
  margin-bottom: 0;
}

/* line 58, src/scss/_components/home/_base.scss */
.base__list-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  margin-bottom: 9px;
  border: solid 1px #dbdfe4;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 69, src/scss/_components/home/_base.scss */
.base__list-btn:hover {
  border-color: #192E47;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 74, src/scss/_components/home/_base.scss */
.base__list-btn .icon-font {
  color: #192E47;
  font-size: 16px;
}

/* line 4, src/scss/_components/home/_description.scss */
.description__text, .description__title, .description__subtitle, .description__image-wrapper {
  width: 100%;
  max-width: 749px;
  margin-left: auto;
  margin-right: auto;
}

/* line 14, src/scss/_components/home/_description.scss */
.description__text {
  padding-bottom: 30px;
  font-size: 21px;
  line-height: 1.58;
  color: #767676;
}

/* line 20, src/scss/_components/home/_description.scss */
.description__text--ni {
  padding-bottom: 43px;
}

/* line 24, src/scss/_components/home/_description.scss */
.description__text--letter {
  overflow: hidden;
}

/* line 27, src/scss/_components/home/_description.scss */
.description__text--letter span {
  float: left;
  margin-right: 3px;
  font-size: 72px;
  line-height: 60px;
  font-weight: bold;
  color: #008192;
}

/* line 38, src/scss/_components/home/_description.scss */
.description__subtitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.42;
  color: #122e49;
}

/* line 45, src/scss/_components/home/_description.scss */
.description__title {
  padding-top: 26px;
  padding-left: 45px;
  padding-bottom: 52px;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.4;
  color: #132e49;
}

/* line 56, src/scss/_components/home/_description.scss */
.description__image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 21px;
}

/* line 62, src/scss/_components/home/_description.scss */
.description__image-cover {
  padding-bottom: 12px;
}

/* line 65, src/scss/_components/home/_description.scss */
.description__image-cover img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 75, src/scss/_components/home/_description.scss */
.description__image-info p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #767676;
}

/* line 83, src/scss/_components/home/_description.scss */
.description__blockquote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1029px;
  padding-top: 16px;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

/* line 92, src/scss/_components/home/_description.scss */
.description__blockquote-left {
  width: 315px;
}

/* line 95, src/scss/_components/home/_description.scss */
.description__blockquote-left i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  height: 5px;
  background-color: #008192;
}

/* line 103, src/scss/_components/home/_description.scss */
.description__blockquote-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  top: -2px;
  padding-left: 45px;
  width: 100%;
  max-width: 579px;
}

/* line 111, src/scss/_components/home/_description.scss */
.description__blockquote-right p {
  padding-bottom: 0;
}

/* line 117, src/scss/_components/home/_description.scss */
.description__content {
  overflow: hidden;
  width: 100%;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 65px;
}

/* line 125, src/scss/_components/home/_description.scss */
.description__content .description__text {
  width: auto;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 122px;
  padding-right: 121px;
}

/* line 134, src/scss/_components/home/_description.scss */
.description__content .description__image-wrapper {
  float: right;
  display: inline-block;
  width: auto;
  max-width: 487px;
  padding-left: 34px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
}

/* line 4, src/scss/_components/home/_info.scss */
.info .c-grid {
  max-width: 779px;
}

/* line 9, src/scss/_components/home/_info.scss */
.info__wrapper-0 {
  padding: 24px 15px 22px 18px;
  border-bottom: 1px solid #dbdfe4;
}

/* line 14, src/scss/_components/home/_info.scss */
.info__wrapper-1 {
  padding: 24px 16px 31px 19px;
}

/* line 18, src/scss/_components/home/_info.scss */
.info__wrapper-2 {
  min-height: 164px;
  padding: 17px 31px 16px 17px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #f6f6f6;
}

/* line 26, src/scss/_components/home/_info.scss */
.info__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 30, src/scss/_components/home/_info.scss */
.info__social p {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  line-height: 1.38;
  color: #132e49;
}

/* line 37, src/scss/_components/home/_info.scss */
.info__social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 42, src/scss/_components/home/_info.scss */
.info__social-list li:first-of-type {
  margin-left: 0;
}

/* line 47, src/scss/_components/home/_info.scss */
.info__social-list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 23px;
}

/* line 52, src/scss/_components/home/_info.scss */
.info__social-list a:hover .icon-font {
  color: rgba(25, 46, 71, 0.75);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 58, src/scss/_components/home/_info.scss */
.info__social-list a .icon-font {
  color: #192E47;
  font-size: 20px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 67, src/scss/_components/home/_info.scss */
.info__tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 72, src/scss/_components/home/_info.scss */
.info__tags-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 77, src/scss/_components/home/_info.scss */
.info__tags p {
  position: relative;
  top: 1px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  line-height: 1.38;
  color: #132e49;
}

/* line 86, src/scss/_components/home/_info.scss */
.info__tags-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 8px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  background-color: #f6f6f6;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #008192;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 102, src/scss/_components/home/_info.scss */
.info__tags-link:hover {
  background-color: rgba(246, 246, 246, 0.75);
  color: rgba(0, 129, 146, 0.75);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 108, src/scss/_components/home/_info.scss */
.info__tags-link:first-of-type {
  margin-left: 0;
}

/* line 114, src/scss/_components/home/_info.scss */
.info__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 117, src/scss/_components/home/_info.scss */
.info__user-left {
  width: 112px;
}

/* line 121, src/scss/_components/home/_info.scss */
.info__user-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  padding-top: 4px;
}

/* line 127, src/scss/_components/home/_info.scss */
.info__user-circle {
  z-index: 1;
  overflow: hidden;
  position: relative;
  width: 88px;
  height: 88px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

/* line 135, src/scss/_components/home/_info.scss */
.info__user-circle img {
  z-index: 0;
}

/* line 141, src/scss/_components/home/_info.scss */
.info__user p {
  padding-bottom: 5px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  line-height: 1.38;
  color: #132e49;
}

/* line 149, src/scss/_components/home/_info.scss */
.info__user span {
  display: block;
  padding-bottom: 10px;
  line-height: 1.38;
  color: #767676;
}

/* line 156, src/scss/_components/home/_info.scss */
.info__user a {
  text-decoration: underline;
  font-family: "PT Sans", sans-serif;
  line-height: 1.38;
  color: #008192;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 163, src/scss/_components/home/_info.scss */
.info__user a:hover {
  color: #132e49;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/home/_search.scss */
.search {
  padding-top: 35px;
  padding-bottom: 125px;
}

/* line 7, src/scss/_components/home/_search.scss */
.search__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 123px;
}

/* line 18, src/scss/_components/home/_search.scss */
.search__wrapper-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  max-width: 648px;
  padding-top: 64px;
}

/* line 29, src/scss/_components/home/_search.scss */
.search__row {
  width: 100%;
  max-width: 648px;
}

/* line 34, src/scss/_components/home/_search.scss */
.search__title {
  padding-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.35;
  color: #132e49;
}

/* line 42, src/scss/_components/home/_search.scss */
.search__form {
  padding-bottom: 28px;
}

/* line 45, src/scss/_components/home/_search.scss */
.search__form-field {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 648px;
  height: 56px;
  padding: 4px;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  border: solid 1px #e7eaed;
  background-color: #f6f6f6;
}

/* line 58, src/scss/_components/home/_search.scss */
.search__form-input {
  outline: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  padding: 0 19px;
  margin-right: 4px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  color: #132e49;
  font-family: 'PT Sans', sans-serif;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.search__form-input.placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.search__form-input:-moz-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.search__form-input::-moz-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.search__form-input:-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.search__form-input::-webkit-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
}

/* line 81, src/scss/_components/home/_search.scss */
.search__form-btn {
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 118px;
  height: 100%;
  padding-top: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  border: 1px solid #007585;
  background-color: #007585;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 96, src/scss/_components/home/_search.scss */
.search__form-btn:hover {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 100, src/scss/_components/home/_search.scss */
.search__form-btn:hover span,
.search__form-btn:hover .icon-font {
  color: #007585;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 107, src/scss/_components/home/_search.scss */
.search__form-btn .icon-font {
  margin-right: 7px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 114, src/scss/_components/home/_search.scss */
.search__form-btn span {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 124, src/scss/_components/home/_search.scss */
.search__badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 127, src/scss/_components/home/_search.scss */
.search__badge-text {
  white-space: nowrap;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #132e49;
}

/* line 135, src/scss/_components/home/_search.scss */
.search__badge-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 13px;
}

/* line 141, src/scss/_components/home/_search.scss */
.search__badge-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  padding: 0 12px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #f6f6f6;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #007585;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 159, src/scss/_components/home/_search.scss */
.search__badge-btn:hover {
  background-color: rgba(246, 246, 246, 0.75);
  color: rgba(0, 117, 133, 0.75);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 165, src/scss/_components/home/_search.scss */
.search__badge-btn:last-of-type {
  margin-right: 0;
}

/* line 172, src/scss/_components/home/_search.scss */
.search__img img {
  position: relative;
  left: -46px;
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_components/home/_article.scss */
.article {
  position: relative;
  padding-top: 119px;
  padding-bottom: 155px;
}

/* line 8, src/scss/_components/home/_article.scss */
.article:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 80px;
  height: 1px;
  margin: 0 auto;
  background-color: #dbdfe4;
}

/* line 21, src/scss/_components/home/_article.scss */
.article__subtitle {
  padding-bottom: 3px;
}

/* line 25, src/scss/_components/home/_article.scss */
.article__title {
  padding-bottom: 24px;
}

/* line 29, src/scss/_components/home/_article.scss */
.article__box {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: -webkit-calc((100% - (24px * 3)) / 4);
  max-width: calc((100% - (24px * 3)) / 4);
  min-height: 288px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 10px 0 rgba(118, 118, 118, 0.2);
          box-shadow: 0 0 10px 0 rgba(118, 118, 118, 0.2);
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 41, src/scss/_components/home/_article.scss */
.article__box:hover {
  -webkit-box-shadow: 0 0 7px 0 rgba(118, 118, 118, 0.15);
          box-shadow: 0 0 7px 0 rgba(118, 118, 118, 0.15);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 46, src/scss/_components/home/_article.scss */
.article__box:hover .article__box-top img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 53, src/scss/_components/home/_article.scss */
.article__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 58, src/scss/_components/home/_article.scss */
.article__box-top {
  z-index: 1;
  overflow: hidden;
  position: relative;
  height: 175px;
}

/* line 64, src/scss/_components/home/_article.scss */
.article__box-top img {
  z-index: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 71, src/scss/_components/home/_article.scss */
.article__box-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: -webkit-calc(100% - 175px);
  min-height: calc(100% - 175px);
  padding: 7px 15px 17px;
}

/* line 79, src/scss/_components/home/_article.scss */
.article__box-title {
  min-height: 44px;
  margin-bottom: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  color: #132e49;
}

/* line 89, src/scss/_components/home/_article.scss */
.article__box-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 94, src/scss/_components/home/_article.scss */
.article__box-info--left, .article__box-info--right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 99, src/scss/_components/home/_article.scss */
.article__box-info--right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 103, src/scss/_components/home/_article.scss */
.article__box-info--right span {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: #767676;
}

/* line 112, src/scss/_components/home/_article.scss */
.article__box-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 116, src/scss/_components/home/_article.scss */
.article__box-user--left {
  padding-right: 9px;
}

/* line 121, src/scss/_components/home/_article.scss */
.article__box-user--right p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: #767676;
}

/* line 129, src/scss/_components/home/_article.scss */
.article__box-user--circle {
  overflow: hidden;
  position: relative;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

/* line 136, src/scss/_components/home/_article.scss */
.article__box-user--circle img {
  z-index: 0;
}

/* line 3, src/scss/_components/home/_browse.scss */
.browse {
  padding-bottom: 53px;
}

/* line 6, src/scss/_components/home/_browse.scss */
.browse__wrapper {
  padding-top: 60px;
  border-top: 1px solid #dbdfe4;
}

/* line 11, src/scss/_components/home/_browse.scss */
.browse__subtitle {
  padding-bottom: 3px;
}

/* line 15, src/scss/_components/home/_browse.scss */
.browse__title {
  padding-bottom: 7px;
}

/* line 19, src/scss/_components/home/_browse.scss */
.browse__desc {
  width: 100%;
  max-width: 598px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #767676;
}

/* line 35, src/scss/_components/home/_browse.scss */
.browse__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
}

/* line 4, src/scss/_components/home/_navigation.scss */
.navigation__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 82px;
  border-top: 1px solid #dbdfe4;
  border-bottom: 1px solid #dbdfe4;
}

/* line 11, src/scss/_components/home/_navigation.scss */
.navigation__wrapper-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
}

/* line 16, src/scss/_components/home/_navigation.scss */
.navigation__wrapper-right {
  width: 182px;
}

/* line 21, src/scss/_components/home/_navigation.scss */
.navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11px;
}

/* line 28, src/scss/_components/home/_navigation.scss */
.navigation__list-item:last-of-type .navigation__list-btn {
  margin-right: 0;
}

/* line 34, src/scss/_components/home/_navigation.scss */
.navigation__list-btn {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #767676;
  margin-right: 32px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 42, src/scss/_components/home/_navigation.scss */
.navigation__list-btn:hover {
  color: #192e47;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/*# sourceMappingURL=maps/app.css.map */
