// SECTION browse :: START

.browse {
  padding-bottom: 53px;

  &__wrapper {
    padding-top: 60px;
    border-top: 1px solid $c-light-periwinkle;
  }

  &__subtitle {
    padding-bottom: 3px;
  }

  &__title {
    padding-bottom: 7px;
  }

  &__desc {
    width: 100%;
    max-width: 598px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: $c-brownish-grey;
  }

  &__box {


    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 45px;
      padding-right: 45px;
    }
  }
}

// SECTION browse :: END