// SECTION description :: START

.description {
  &__text,
  &__title,
  &__subtitle,
  &__image-wrapper {
    width: 100%;
    max-width: 749px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    padding-bottom: 30px;
    font-size: 21px;
    line-height: 1.58;
    color: #767676;
    @include adaptive(767) {
      font-size: 18px;
    }

    &--ni {
      padding-bottom: 43px;
      @include adaptive(767) {
        padding-bottom: 19px;
      }
    }

    &--letter {
      overflow: hidden;

      span {
        float: left;
        margin-right: 3px;
        font-size: 72px;
        line-height: 60px;
        font-weight: bold;
        color: #008192;
        @include adaptive(767) {
          margin-right: 7px;
          font-size: 57px;
          line-height: 50px;
        }
      }
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.42;
    color: #122e49;
    @include adaptive(767) {
      font-size: 22px;
    }
  }

  &__title {
    padding-top: 26px;
    padding-left: 45px;
    padding-bottom: 52px;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.4;
    color: #132e49;
    @include adaptive(767) {
      font-size: 22px;
      padding-top: 24px;
      padding-left: 17px;
      padding-bottom: 47px;
    }
  }

  &__image {
    &-wrapper {
      display: flex;
      flex-direction: column;
      padding-bottom: 21px;
      @include adaptive(767) {
        width: calc(100% + 30px);
        margin-left: -15px;
      }
    }

    &-cover {
      padding-bottom: 12px;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-info {
      p {
        font-family: "PT Sans", sans-serif;
        font-size: 14px;
        color: #767676;
        @include adaptive(767) {
          padding-left: 15px;
          padding-right: 15px;
          text-align: center;
        }
      }
    }
  }

  &__blockquote {
    display: flex;
    width: 100%;
    max-width: 1029px;
    padding-top: 16px;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    @include adaptive(767) {
      flex-wrap: wrap;
      padding-top: 29px;
    }

    &-left {
      width: 315px;
      @include adaptive(767) {
        width: 100%;
        margin-bottom: 29px;
        padding-bottom: 23px;
        border-bottom: 1px solid #dbdfe4;
        text-align: center;
      }

      i {
        display: flex;
        margin-bottom: 27px;
        height: 5px;
        background-color: #008192;
      }
    }

    &-right {
      flex: 1;
      position: relative;
      top: -2px;
      padding-left: 45px;
      width: 100%;
      max-width: 579px;
      @include adaptive(1199) {
        max-width: 539px;
      }
      @include adaptive(767) {
        top: 0;
        padding-left: 0;
      }

      p {
        padding-bottom: 0;
      }
    }
  }

  &__content {
    overflow: hidden;
    width: 100%;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 65px;
    @include adaptive(767) {
      display: flex;
      flex-direction: column-reverse;
      width: calc(100% + 30px);
      margin-left: -15px;
      padding-bottom: 50px;
    }

    .description__text {
      width: auto;
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      padding-left: 122px;
      padding-right: 121px;
      @include adaptive(1199) {
        padding-left: 107px;
      }
      @include adaptive(991) {
        padding-left: 0;
        padding-right: 0;
      }
      @include adaptive(767) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .description__image-wrapper {
      float: right;
      display: inline-block;
      width: auto;
      max-width: 487px;
      padding-left: 34px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 10px;
      @include adaptive(767) {
        float: none;
        display: block;
        max-width: 100%;
        padding-left: 0;

        img {
          //margin-left: auto;
          //margin-right: auto;
        }
      }
    }
  }
}

// SECTION description :: END