// SECTION navigation :: START

.navigation {
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 82px;
    border-top: 1px solid $c-light-periwinkle;
    border-bottom: 1px solid $c-light-periwinkle;
    @include adaptive(1439) {
      flex-wrap: wrap;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &-left {
      flex: 1;
      max-width: 100%;
    }

    &-right {
      width: 182px;
      @include adaptive(1439) {
        width: 100%;
        padding-top: 30px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    padding-left: 11px;
    @include adaptive(1439) {
      justify-content: center;
    }
    @include adaptive(991) {
      flex-wrap: wrap;
    }

    &-item {
      &:last-of-type {
        .navigation__list-btn {
          margin-right: 0;
          @include adaptive(991) {
            margin-right: 15px;
          }
        }
      }
    }

    &-btn {
      display: flex;
      font-family: 'PT Sans', sans-serif;
      font-size: 14px;
      line-height: 1.43;
      color: $c-brownish-grey;
      margin-right: 32px;
      @include transition(color);
      @include adaptive(1199) {
        margin-right: 20px;
      }
      @include adaptive(991) {
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      &:hover {
        color: #192e47;
        @include transition(color);
      }
    }
  }
}

// SECTION navigation :: END