// SECTION search :: START

.search {
  padding-top: 35px;
  padding-bottom: 125px;
  @include adaptive(767) {
    padding-top: 44px;
    padding-bottom: 41px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding-left: 123px;
    @include adaptive(1199) {
      padding-left: 107px;
    }
    @include adaptive(991) {
      padding-left: 0;
    }
    @include adaptive(767) {
      border-top: 1px solid #dbdfe4;
    }

    &-left {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 648px;
      padding-top: 64px;
      @include adaptive(767) {
        padding-top: 40px;
      }
    }

    &-right {
      @include adaptive(991) {
        display: none;
      }
    }
  }

  &__row {
    width: 100%;
    max-width: 648px;
  }

  &__title {
    padding-bottom: 20px;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.35;
    color: $c-dark-slate-blue;
    @include adaptive(767) {
      padding-bottom: 15px;
      font-size: 22px;
      text-align: center;
    }
  }

  &__form {
    padding-bottom: 28px;
    @include adaptive(767) {
      padding-bottom: 14px;
    }

    &-field {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 648px;
      height: 56px;
      padding: 4px;
      border-radius: 28px;
      border: solid 1px #e7eaed;
      background-color: #f6f6f6;
      @include adaptive(767) {
        height: 40px;
        padding: 0;
      }
    }

    &-input {
      outline: none;
      flex: 1;
      width: 100%;
      height: 100%;
      padding: 0 19px;
      margin-right: 4px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.22;
      color: $c-dark-slate-blue;
      font-family: 'PT Sans', sans-serif;
      @include inputPlaceholder {
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.22;
        @include adaptive(767) {
          font-size: 13px;
        }
      }
      @include adaptive(767) {
        font-size: 13px;
      }
    }

    &-btn {
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 118px;
      height: 100%;
      padding-top: 2px;
      box-shadow: none;
      border-radius: 24px;
      border: 1px solid #007585;
      background-color: #007585;
      @include transition(background-color);
      @include adaptive(767) {
        width: 36px;
        height: 36px;
        border-radius: 100%;
      }

      &:hover {
        background-color: transparent;
        @include transition(background-color);

        span,
        .icon-font {
          color: #007585;
          @include transition(color);
        }
      }

      .icon-font {
        margin-right: 7px;
        color: #ffffff;
        font-size: 16px;
        @include transition(color);
        @include adaptive(767) {
          margin-right: 0;
        }
      }

      span {
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        @include transition(color);
        @include adaptive(767) {
          display: none;
        }
      }
    }
  }

  &__badge {
    display: flex;
    @include adaptive(767) {
      display: none;
    }

    &-text {
      white-space: nowrap;
      font-family: 'PT Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: $c-dark-slate-blue;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
      padding-left: 13px;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      padding: 0 12px;
      border-radius: 12px;
      margin-right: 8px;
      margin-bottom: 8px;
      background-color: #f6f6f6;
      font-family: 'PT Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      color: #007585;
      @include transition(background-color, color);

      &:hover {
        background-color: rgba(#f6f6f6, 0.75);
        color: rgba(#007585, 0.75);
        @include transition(background-color, color);
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__img {
    img {
      position: relative;
      left: -46px;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__mobile {
    display: none;
    align-items: center;
    justify-content: center;
    @include adaptive(767) {
      display: flex;
    }

    .icon-font {
      margin-right: 7px;
      color: #007585;
      font-size: 14px;
    }

    p {
      font-family: "PT Sans", sans-serif;
      font-size: 14px;
      color: #767676;
    }
  }
}

// SECTION search :: END