// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper
      .footer__wrapper-left

        .logotype.logotype--footer
          a.logotype__bnt(href="/" class="" title="")
            img(src="/img/img-footer-logo.jpg" srcset="/img/img-footer-logo@2x.jpg 2x, /img/img-footer-logo@3x.jpg 3x" alt="" title="")

      .footer__wrapper-right

        .copyright
          p.copyright__text!= "Copyright © 2019 site by Memiah Limited"

// FOOTER :: END