// HEADER :: START

.header {
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid $c-light-periwinkle;

  .c-grid-fluid {
    padding-left: 25px;
    padding-right: 25px;
    @include adaptive(767) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 87px;
    @include adaptive(767) {
      min-height: 56px;
    }

    &-left {
      padding-top: 6px;
      padding-right: 19px;
      @include adaptive(991) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 0;
        padding-right: 0;
      }
    }

    &-cover {
      display: none;
      align-items: center;
      @include adaptive(991) {
        display: flex;
      }

      .header__btn--search {
        margin-left: 0;
        margin-right: 21px;
        @include adaptive(767) {
          margin-right: 22px;

          .icon-font {
            font-size: 19px;
          }
        }
      }
    }

    &-mobile {
      display: flex;
      align-items: center;
      flex: 1;
      @include adaptive(991) {
        display: none;
      }
    }

    &-middle {
      flex: 1;
      max-width: 100%;
      padding-top: 5px;
    }

    &-right {
      width: 100%;
      max-width: 314px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    @include transition(border-color, background-color, color);

    &--mark,
    &--search {
      &:hover {
        .icon-font {
          color: #008192;
          @include transition(color);
        }
      }

      .icon-font {
        font-size: 24px;
        color: #192E47;
        @include transition(color);
      }
    }

    &--mark {
      margin-right: 10px;


    }

    &--search {
      margin-left: 10px;
    }

    &--login {
      margin-right: 4px;
      width: 83px;
      height: 40px;
      padding-top: 2px;
      border-radius: 21.5px;
      border: solid 1px #dbdfe4;
      background-color: #ffffff;
      color: #132e49;

      &:hover {
        border-color: #008192;
        background-color: #008192;
        color: #ffffff;
        @include transition(border-color, background-color, color);
      }
    }

    &--get {
      margin-left: 4px;
      width: 106px;
      height: 40px;
      padding-top: 2px;
      border-radius: 21.5px;
      border: 1px solid #008192;
      background-color: #008192;
      color: #ffffff;

      &:hover {
        border-color: #dbdfe4;
        background-color: transparent;
        color: #132e49;
        @include transition(border-color, background-color, color);
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-left {
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 4px;
      padding-left: 1px;
      padding-right: 25px;

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: 43px;
        background-color: #f6f6f6;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      padding-top: 2px;
      padding-left: 24px;
    }
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-link {
      white-space: nowrap;
      position: relative;
      display: flex;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
      color: #132e49;
      @include transition(color);

      &:before {
        content: '';
        opacity: 0;
        z-index: 0;
        position: absolute;
        bottom: -10px;
        left: -4px;
        width: calc(100% + 8px);
        height: 2px;
        border-radius: 2.5px;
        background-color: #008192;
        @include transition(opacity);
      }

      &:hover {
        color: #008192;
        @include transition(color);
      }

      &.is-active {
        color: #008192;

        &:before {
          opacity: 1;
          @include transition(opacity);
        }
      }

      &--drop {
        padding-top: 3px;

        .icon-corner {
          position: relative;
          top: -1px;
          font-size: 6px;
          margin-left: 8px;
        }
      }

      &--more {
        .icon-font {
          padding-left: 5px;
          padding-right: 5px;
          font-size: 17px;
        }
      }
    }
  }
}

// HEADER :: END